@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gradina de Vara<br />
    Piatra Neamt, Petru Rares 28<br />
    <abbr title="Phone">P:</abbr>
    0756.681.530
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:soceatiberiuv@gmail.com">soceatiberiuv@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:soceatiberiuv@gmail.com">soceatiberiuv@gmail.com</a>
</address>